/**
 * Croogo
 */
@font-face {
	font-family: 'Museo500';
	src: url('museo500-regular-webfont.eot');
	src: local('â˜º'), url('museo500-regular-webfont.woff') format('woff'), url('museo500-regular-webfont.ttf') format('truetype'), url('museo500-regular-webfont.svg#webfontwGpbsKOz') format('svg');
	font-weight: normal;
	font-style: normal;
}


/**
 * Base
 */
body { padding-top: 60px; }

.clear { clear: both; }
p { line-height: 20px; }

a { text-decoration: none; color: #325c9a; font-weight: 600; }
a:hover { color: #666; }
p a { border-bottom: 1px dotted #666; text-decoration: none; }
p a:hover { border-bottom: 1px solid #666; text-decoration: none; }

h1,
h2,
h3 { font-family: 'Museo500', serif; }

.error,
.notice,
.success,
.message { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error { background: #FBE3E4; color: #D12F19; border-color: #FBC2C4; }
.notice,
.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
.error a { color: #D12F19; }
.notice a,
.message a { color: #817134; }
.success a { color: #529214; }


/**
 * Nav
 */
.navbar a { font-family: 'Museo500', serif; }
.navbar ul.nav { float: right; }


/**
 * Homepage
 */
#intro { background: #eee; border-bottom: 1px solid #ccc; padding-top: 20px; margin-top: -18px; margin-bottom: 20px; }
#intro .container { min-height: 350px; }
#intro img.screenshot { float: right; -moz-box-shadow: rgba(200,200,200,1) 0 -10px 30px; -webkit-box-shadow: rgba(200,200,200,1) 0 -10px 30px; }
#intro p.intro-text { font-family: 'Museo500', sans-sarif; font-size: 19px; line-height: 40px; margin-top: 20px; margin-bottom: 50px; }
#intro a.download { font-family: 'Museo500', sans-serif; font-size: 24px; margin-top: 10px; padding: 10px 50px; }

@media (min-width: 1200px) {
	.container { width: 940px; }
	.navbar .container { width: 940px; }
	.container .span4 { width: 290px; }
	.container .span5 { width: 370px; }
	.container .span7 { width: 540px; }
}

@media (max-width: 979px) and (min-width: 768px) {
	body { padding-top: 0px; }
	#intro img.screenshot { display: none; }
}

@media (max-width: 767px) {
	body { padding-top: 0px; }
	#intro .container { background: none; }
	#intro img.screenshot { display: none; }
}

.boxes h2 { margin-bottom: 15px; }
.boxes .box.border-right { border-right: 1px solid #eee; padding-right: 10px; }
.boxes p { margin-bottom: 30px; }
.boxes p.lighthouse,
.boxes p.google-group,
.boxes p.github { text-align: center; }
.boxes p.lighthouse a,
.boxes p.google-group a,
.boxes p.github a { text-decoration: none; border: none; }
.boxes p.lighthouse img { background: #444; padding: 10px; width: 170px; border-radius: 4px; }
.boxes p.google-group img { padding: 17px; }
.boxes p.github img { padding: 5px; }


/**
 * Blog
 */
body.site-blog { background: #eee; }
body.site-blog .nodes { }
body.site-blog .node { padding: 20px; margin-bottom: 20px; background: #fff; border: 1px solid #ccc; }
body.site-blog .node a { font-weight: normal; }
body.site-blog .node h2 { font-family: Cambria, Georgia; font-size: 26px; font-weight: normal; margin-bottom: 10px; }
body.site-blog .node .node-body p { font-family: Cambria, Georgia; font-size: 16px; line-height: 24px; }
body.site-blog .node .node-body p + p { margin-top: 15px; }
body.site-blog .node .node-body h3 { margin-top: 25px; }
body.site-blog .node .node-body ul li { font-family: Cambria, Georgia; font-size: 14px; margin: 10px; }
body.site-blog .node .node-info { font-family: Cambria, Georgia; margin-bottom: 10px; padding-bottom: 10px; font-style: italic; font-size: 13px; border-bottom: 1px solid #ccc; }
body.site-blog .node .node-more-info { font-family: Cambria, Georgia; margin-bottom: 10px; border-top: 1px solid #ccc; padding-top: 15px; font-style: italic; font-size: 14px; }

body.site-blog #comments { /*padding: 20px; background: #fff; border: 1px solid #ccc; margin-bottom: 20px;*/ }
body.site-blog h3 { font-family: Cambria, Georgia; font-weight: normal; font-size: 26px; margin-bottom: 20px; }
body.site-blog form .input { margin-bottom: 10px; }
body.site-blog form .input.error { padding: 10px; }
body.site-blog form .input label { font-family: Cambria, Georgia; font-size: 18px; }
body.site-blog form .input input,
body.site-blog form .input textarea { width: 75%; }

.comments .comment { margin-bottom: 20px; padding: 10px; border: 1px solid #ccc; background: #fff; }
.comments .comment .comment { margin-left: 45px; margin-bottom: 0px; }
.comments .comment .comment + .comment { margin-top: 10px; }
.comments .comment-info { background: #fafafa; }
.comments .comment-info .avatar { float: left; margin-right: 10px; }
.comments .comment-info .avatar img { border: 2px solid #333; }
.comments .comment-info .name { display: block; font-weight: bold; }
.comments .comment-info .date { font-size: 10px; color: #888; }
.comments .comment-body { margin: 10px 0px 0px 0px; }
.comments .comment-reply { padding: 10px 0px 10px 0px; }
.comments .comment-reply a { background: #464646; color: #fff; font-weight: normal; padding: 5px; }
.comments .comment-reply a:hover { background: #eee; color: #464646; }
.comments .author { border: 1px solid #a9a9a9; background: #fafafa; }
.comments .author > .comment-info { background: #efefef; }

.paging { text-align: center; margin-bottom: 10px; }

body.site-blog .region-right { }
body.site-blog .region-right .block { padding: 26px; background: #fff; margin-bottom: 20px; border: 1px solid #ccc; }
body.site-blog .region-right .block h3 { font-family: 'Museo500', serif; }
body.site-blog .region-right .block ul { list-style: none; margin: 0px; padding: 0px; }
body.site-blog .region-right .block ul li {  }
body.site-blog .region-right .block ul li a { font-family: Cambria, Georgia; font-weight: normal;border-bottom: 1px solid #eee; padding: 5px; display: block; text-decoration: none; }
body.site-blog .region-right .block ul li a:hover { border-bottom: 1px solid #ccc;  }

body.site-blog .region-right .block h3 {
  font-size: 20px;
  text-indent: 30px;
  position: relative;
  color: #fff;
  margin: 0 -36px 30px -36px;
  padding: 10px 0;
  text-shadow: 0 1px rgba(0,0,0,.8);
  background: #5c5c5c;
  background-image: -moz-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  background-image:  linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0));
  -moz-box-shadow: 0 2px 0 rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 0 rgba(0,0,0,.3);
  box-shadow: 0 2px 0 rgba(0,0,0,.3);
}
body.site-blog .region-right .block h3:before, 
body.site-blog .region-right .block h3:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  bottom: -10px;
}
body.site-blog .region-right .block h3:before {
  border-width: 0 10px 10px 0;
  border-right-color: #222;
  left: 0;
}
body.site-blog .region-right .block h3:after {
  border-width: 0 0 10px 10px;
  border-left-color: #222;
  right: 0;
}    

/**
 * Footer
 */
footer { border-top: 5px solid #ccc; background: #222; padding-top: 10px; padding-bottom: 10px; margin-left: -20px; margin-right: -20px; }
footer h3 { color: #666; margin-bottom: 15px !important; padding-bottom: 5px; border-bottom: 1px solid #333; font-family: 'Museo500', Cambria, Georgia !important; font-size: 22px !important;  }
footer ul { padding: 0px; margin: 0px; }
footer ul li { list-style: none; padding: 0px; margin: 0px; }
footer ul li a { color: #fff; }
footer ul li a:hover { color: #fff; text-decoration: underline; }
footer p { color: #fff; font-weight: bold; text-align: center; }
footer p a { color: #fff; }

